---
http_interactions:
- request:
    method: get
    uri: https://api.reservix.de//1/sale/eventgroup?api-key=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"tsServer":"2019-02-28 17:36:54","page":0,"pageSize":200,"limit":3,"totalItems":12,"data":[{"id":132676,"modified":"2018-03-23
        09:41:34","name":"Klassikkonzert","description":"Es gilt als eines der besten
        Orchester weltweit:\r\nDas Sinfonieorchester pr\u00e4sentiert Musik aller
        Stile und Epochen auf musikalischem h\u00f6chstem Niveau. Ein Genuss f\u00fcr
        alle Klassikfans!\r\n\r\nIn seiner \u00fcber 80-j\u00e4hrigen Geschichte feierte
        das Orchester mit seinen zahlreichen Konzerten und CD-Produktionen weltweite
        Erfolge. Dabei arbeitete das Ensemble mit verschiedensten Dirigentenpers\u00f6nlichkeiten
        zusammen, darunter Hans Rosbaud, Dean Dixon, Dmitrij Kitajenko und bis 2013
        mit dem Esten Paavo J\u00e4rvi, der das Sinfonieorchester um viele neue und
        spannende Facetten bereicherte. Vom Barock bis zur zeitgen\u00f6ssischen Avantgarde
        reicht ihr Repertoire, wobei die Musiker und Musikerinnen einen besonderen
        Akzent auf die F\u00f6rderung zeitgen\u00f6ssischer Musik legen.\r\n\r\nAb
        der Saison 2014\/15 spielt das herausragende Ensemble unter der Leitung von
        Andr\u00e9s Orozco-Estrada. Erleben Sie einen unvergleichlichen Konzertabend
        mit dem hr-Sinfonieorchester!\r\n\r\nFoto: hr - Tim Wegner","type":1,"affiliateSaleUrl":"https:\/\/shop.reservix.de\/off\/login_check.php?id=c6b93363d4bc7c27716bd16311f6794829eec6bcddc3b0f73e19ee5d6e1f1d4746a71be27912e511305a6e1e57183504&vID=12884&eventGrpID=132676","self":"\/1\/sale\/eventgroup\/132676","references":{"event":"\/1\/sale\/eventgroup\/132676\/event"}},{"id":132678,"modified":"2018-03-23
        09:40:51","name":"The Fantastic Four in Test","description":"Die Fanta Vier
        sind seit den fr\u00fchen 90ern f\u00fcr die Lyrics und Beats ihrer Top-Ten-Hits
        \u201eMFG\u201c, \u201eDie da\u201c und \u201eTroy\u201c bekannt. Zusammen
        mit Fettes Brot haben sie den deutschen Hip-Hop entscheidend gepr\u00e4gt
        und popularisiert. Das legend\u00e4re Unplugged-Konzert der Fantastischen
   [...]
