---
http_interactions:
- request:
    method: get
    uri: https://api.reservix.de/1/sale/event?api-key=xxx&genreid=19&sidx=date&sord=asc&startdate=2019-03-11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"tsServer":"2019-03-11 14:42:37","page":0,"pageSize":200,"limit":138,"totalItems":138,"data":[{"id":1172264,"modified":"2019-03-11
        12:42:08","isTestEvent":false,"bookable":true,"bookableinfo":null,"salesstatus":2,"salesstart":null,"discountinfo":"Abos,
        Erm\u00e4\u00dfigungen, Rollstuhlpl\u00e4tze nur \u00fcber Kartenhaus im Burghof
        buchbar, \r\nTel. +49(0)7621\/ 94 0 89-11,12\r\nErm\u00e4\u00dfigungen nicht
        bei Sonderveranstaltungen.","discountAvailable":false,"additionalInformation":null,"name":"Moskauer
        Kathedralchor","description":"Es sind die reine Kraft der Stimmen, die Faszination
        der russischen Tradition und die Einmaligkeit des Repertoires, die das Publikum
        bei Konzerten des Moskauer Kathedralchors in den Bann ziehen. Unter der Leitung
        von Nicolay Azarov machen die Abg\u00e4nger*innen der renommierten Moskauer
        Chorkunstakademie die Ausdrucksf\u00fclle und weit schwingende Intensit\u00e4t
        der \u00fcberwiegend geistlichen russischen Vokalmusik eindrucksvoll erfahrbar.
        Mit dem Programm \u201eMissa Mystica\u201c schlagen die insgesamt 40 S\u00e4nger*innen
        eine Br\u00fccke zwischen den \u00f6stlichen und westlichen Kulturen mit griechischen
        und gregorianischen Ges\u00e4ngen und Chor\u00e4len der russisch-orthodoxen
        Liturgie bis hin zu mehrstimmigen Vertonungen liturgischer Texte von Komponisten
        wie Tschesnokow, Bortnjanski und Rachmaninow. Sie bieten einen bewegenden
        musikalischen Gang durch das Kirchenjahr, dessen Ablauf zum Spiegelbild des
        menschlichen Lebens wird.\r\n\r\nProgramm: Chor\u00e4le russisch-orthodoxer
        Liturgie, mehrstimmige Kompositionen u. a. von P. Tschesnokow und S. Rachmaninow\r\n\r\nKonzerteinf\u00fchrung:
        19.15 Uhr","artist":"Nicolay Azarov (Leitung)","showDateTime":1,"startdate":"2019-03-14","starttime":"20:00","enddate":null,"endtime":null,"duration":0,"originallyDateTime":null,"distance":null,"publicSaleUrl":"https:\/\/www.reservix.de","affiliateSaleUrl":"https:\/\/blankmusic.reservix.de\/p\/reservix\/event\/1172264","canonicalUrl":"https:\/\/www.reservix.de\/tickets-moskauer-kathedralchor-in-loerrach-burghof-am-14-3-2019\/e1172264","minPrice":39,"maxPrice":49,"minPriceMediaPartner":null,"delivery":10,"planzone":null,"eventSeasonMode":0,"reservationMode":0,"requiredTicketOptionsAvailable":false,"comboTicketOptionsAvailable":false,"vat":2,"zipCodeRequirement":null,"organizerEventReference":null,"videoId":null,"publicOrganizerName":"Burghof
        Kultur- und Veranstaltungs GmbH","publicOrganizerAddress":"Herrenstra\u00dfe
        5, 79539 L\u00f6rrach, Deutschland","self":"\/1\/sale\/event\/1172264","references":{"eventgroup":[{"id":261255,"modified":"2019-03-11
        14:03:08","name":"Musik 18\/19","description":null,"type":4,"affiliateSaleUrl":"https:\/\/blankmusic.reservix.de\/p\/reservix\/group\/261255","self":"\/1\/sale\/eventgroup\/261255","references":[]}],"genre":[{"id":19,"modified":"2013-02-07
        15:20:13","name":"Chormusik","parent":66,"self":"\/1\/sale\/genre\/19","references":[]}],"location":[{"id":9415,"modified":"2019-03-08
        09:51:17","name":"Burghof","formatted":"Burghof - Herrenstra\u00dfe 5, 79539
        L\u00f6rrach","venueId":3190,"self":"\/1\/sale\/location\/9415","references":[]}],"venue":[{"id":3190,"modified":"2018-12-03
        15:28:30","name":"Burghof L\u00f6rrach","street":"Herrenstrasse 5","zipcode":"79539","city":"L\u00f6rrach","country":"DE","latitude":47.6111,"longitude":7.65919,"formatted":"Herrenstrasse
        5, 79539 L\u00f6rrach","self":"\/1\/sale\/event\/1172264\/venue\/3190","references":[]}],"organizer":[{"id":4530,"modified":"2019-03-08
        11:35:03","name":"Burghof Kultur- und Veranstaltungs GmbH","self":"\/1\/sale\/organizer\/4530","references":[]}],"video":null,"image":[{"id":117226400,"type":1,"hash":"27ba88f78ed902d4c9cb5b54fd2cd7f9e1497a54","url":"https:\/\/static.reservix.de\/img\/event\/detailEvent_1172264.jpg","isPlaceholder":false,"copyright":null,"thumbnail_hash":"be1806f3e468359f4b5cc1d182c7d7778b9a2813","thumbnail_url":"https:\/\/static.reservix.de\/img\/event\/thumbnail_1172264.jpg","self":"\/1\/sale\/image\/117226400","references":[]},{"id":117226401,"type":2,"hash":"e3750b966da33c2945ea5efb6e9f0020f6f81a3d","url":"https:\/\/static.reservix.de\/img\/event\/slideEvent_1172264_0.jpg","isPlaceholder":false,"copyright":null,"thumbnail_hash":null,"thumbnail_url":null,"self":"\/1\/sale\/image\/117226401","references":[]}]}},{"id":1355396,"modified":"2019-02-05
        09:32:25","isTestEvent":false,"bookable":true,"bookableinfo":null,"salesstatus":2,"salesstart":null,"discountinfo":"Erm\u00e4\u00dfigungsberechtigt
        sind: Kinder ab 14 Jahre bis einschlie\u00dflich 17 Jahre, Schwerbehindert
        ab 50 Prozent, Sch\u00fcler, Student, Mitglieder des \"Verein zur Pflege der
        Kirchenmusik i.d. Kath. Stadtkirche N\u00fcrnberg\", Bundesfreiwilligendienst","discountAvailable":true,"additionalInformation":"Einlass:
        15:45","name":"Passionskonzert","description":"Reiner Chorklang ohne weitere
        Zutaten - ideal f\u00fcr eine Stunde zum Innehalten, zur Besinnung und Konzentration
        auf das Wesen[...]
