---
http_interactions:
- request:
    method: get
    uri: https://api.reservix.de/1/sale/event?api-key=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"tsServer":"2019-02-28 17:36:54","page":0,"pageSize":200,"limit":12,"totalItems":12,"data":[{"id":538191,"modified":"2018-03-23
        09:42:20","isTestEvent":true,"bookable":true,"bookableinfo":null,"salesstatus":2,"salesstart":null,"discountinfo":"Der
        erm\u00e4\u00dfigte Preis, soweit angeboten, gilt f\u00fcr Sch\u00fcler, Studenten,
        Bufdis und Rentner.\r\nBeim Einlass wird die Berechtigung kontrolliert. Halten
        sie daher Ihren entsprechenden Nachweis bereit.","discountAvailable":true,"additionalInformation":null,"name":"Into
        The Woods - Really Into The Woods","description":"Eine b\u00f6se Hexe hat
        den B\u00e4cker und seine Frau mit dem Fluch der Kinderlosigkeit bestraft.
        Um den Fluch aufzul\u00f6sen, m\u00fcssen die beiden ihr eine Kuh so wei\u00df
        wie Milch, einen Mantel so rot wie Blut, Haar so gelb wie Korn und einen goldenen
        Schuh bringen. Das B\u00e4ckerpaar dringt nun in traum\u00e4hnlichen Situationen
        in die Figuren der M\u00e4rchen ein, denn sie sollen der Hexe ja die Kuh von
        Jack, Rotk\u00e4ppchens Mantel, Rapunzels Haar und Aschenputtels Schuh beschaffen.\r\n\r\nDabei
        kommt es zu zahlreichen Verwicklungen, heiteren Umdeutungen und verzwickten
        Situationen f\u00fcr die Figuren, deren Beziehungen fatal verschlungen sind.
        Am Ende des 1. Aktes nimmt die Hexe den Fluch von dem B\u00e4ckerpaar und
        erf\u00fcllt ihren Kinderwunsch. Jetzt k\u00f6nnte alles gut sein, ist es
        aber nicht, denn im 2. Akt, er spielt exakt ein Jahr sp\u00e4ter, m\u00fcssen
        die Figuren mit ihren in Erf\u00fcllung gegangenen W\u00fcnschen weiterleben,
        was mitunter alles andere als m\u00e4rchenhaft ist...","artist":null,"showDateTime":1,"startdate":"2021-10-17","starttime":"19:30","enddate":null,"endtime":null,"duration":0,"originallyDateTime":null,"distance":null,"publicSaleUrl":"https:\/\/www.reservix.de","affiliateSaleUrl":"https:\/\/shop.reservix.de\/off\/login_check.php?id=c6b93363d4bc7c27716bd16311f6794829eec6bcddc3b0f73e19ee5d6e1f1d4746a71be27912e511305a6e1e57183504&vID=12884&eventID=538191","canonicalUrl":"https:\/\/www.reservix.de\/tickets-into-the-woods-really-into-the-woods-in-mosbach-alte-maelzerei-am-17-10-2021\/e538191","minPrice":21,"maxPrice":51,"minPriceMediaPartner":null,"delivery":1,"planzone":null,"eventSeasonMode":0,"reservationMode":0,"requiredTicketOptionsAvailable":false,"comboTicketOptionsAvailable":false,"vat":0,"zipCodeRequirement":null,"organizerEventReference":null,"publicOrganizerName":"Testzugang
        API - Key f\u00fcr Veranstalter","publicOrganizerAddress":"Deutschland","self":"\/1\/sale\/event\/538191","references":{"eventgroup":[{"id":133377,"modified":"2018-03-23
        09:42:47","name":"Into The Woods","description":"Eine b\u00f6se Hexe hat den
        B\u00e4cker und seine Frau mit dem Fluch der Kinderlosigkeit bestraft. Um
        den Fluch aufzul\u00f6sen, m\u00fcssen die beiden ihr eine Kuh so wei\u00df
        wie Milch, einen Mantel so rot wie Blut, Haar so gelb wie Korn und einen goldenen
        Schuh bringen. Das B\u00e4ckerpaar dringt nun in traum\u00e4hnlichen Situationen
        in die Figuren der M\u00e4rchen ein, denn sie sollen der Hexe ja die Kuh von
        Jack, Rotk\u00e4ppchens Mantel, Rapunzels Haar und Aschenputtels Schuh beschaffen.\r\n\r\nDabei
        kommt es zu zahlreichen Verwicklungen, heiteren Umdeutungen und verzwickten
        Situationen f\u00fcr die Figuren, deren Beziehungen fatal verschlungen sind.
        Am Ende des 1. Aktes nimmt die Hexe den Fluch von dem B\u00e4ckerpaar und
        erf\u00fcllt ihren Kinderwunsch. Jetzt k\u00f6nnte alles gut sein, ist es
        aber nicht, denn im 2. Akt, er spielt exakt ein Jahr sp\u00e4ter, m\u00fcssen
        die Figuren mit ihren in Erf\u00fcllung gegangenen W\u00fcnschen weiterleben,
        was mitunter alles andere als m\u00e4rchenhaft ist...","type":1,"affiliateSaleUrl":"https:\/\/shop.reservix.de\/off\/login_check.php?id=c6b93363d4bc7c27716bd16311f6794829eec6bcddc3b0f73e19ee5d6e1f1d4746a71be27912e511305a6e1e57183504&vID=12884&eventGrpID=133377","self":"\/1\/sale\/eventgroup\/133377","references":[]}],"genre":[{"id":75,"modified":"2013-02-07
        15:20:13","name":"Musical","parent":23,"self":"\/1\/sale\/genre\/75","references":[]}],"location":[{"id":5402,"modified":"2019-02-19
        12:25:21","name":"Alte M\u00e4lzerei","formatted":"Alte M\u00e4lzerei - Alte
        Bergsteige 7, 74821 Mosbach","venueId":8255,"self":"\/1\/sale\/location\/5402","references":[]}],"venue":[{"id":8255,"modified":"2018-12-03
        13:02:10","name":"Alte M\u00e4lzerei  Kultur und Tagungszentrum","street":"Alte
        Bergsteige 7","zipcode":"74821","city":"Mosbach","country":"DE","latitude":49.3527,"longitude":9.14883,"formatted":"Alte
        Bergsteige 7, 74821 Mosbach","self":"\/1\/sale\/event\/538191\/venue\/8255","references":[]}],"organizer":[{"id":12884,"modified":"2017-09-22
        15:57:35","name":"Testzugang API - Key f\u00fcr Veranstalter","self":"\/1\/sale\/organizer\/12884","references":[]}],"video":[{"id":108154,"modified":"2018-03-23
        09:42:16","platform":1,"hash":"6f88f9880c6bbbc841148d5feaf614331cd72d8c","url":"https:\/\/www.youtube.com\/watch?v=O5TXDIe8NPk","embededUrl":"https:\/\/www.youtube-nocookie.com\/embed\/O5TXDIe8NPk","embeded":"<iframe
        width=''385'' height=''220'' frameborder=''0'' src=''https:\/\/www.youtube-nocookie.com\/embed\/O5TXDIe8NPk''
        allowfullscreen><\/iframe>","self":"\/1\/sale\/video\/108154","references":[]}],"image":[{"id":53819100,"type":1,"hash":"e49d6a53f3a1a2e5cec5d79817578eaa0f5a834e","url":"https:\/\/static.reservix.de\/img\/eventgroup\/detailGroup_133377.jpg","isPlaceholder":false,"copyright":null,"thumbnail_hash":"8b33bb401149c6a212b450da5a506459aff97f50","thumbnail_url":"https:\/\/static.reservix.de\/img\/eventgroup\/thumbnail_133377.jpg","self":"\/1\/sale\/image\/53819100","references":[]},{"id":53819101,"type":2,"hash":"0b46818d787a9193668ce01b3c0805ab5b44ef78","url":"https:\/\/static.reservix.de\/img\/eventgroup\/slideGroup_133377_0.jpg","isPlaceholder":false,"copyright":null,"thumbnail_hash":null,"thumbnail_url":null,"self":"\/1\/sale\/image\/53819101","references":[]}]}},{"id":538192,"modified":"2018-03-23
        09:42:21","isTestEvent":true,"bookable":tr[...]
